.blue {
 border: 1px dashed black;

}

.marbot {
  margin-bottom: 4px;
}

.plant-sidebar-listing {
  color: #57B157;
  font-size: 12px;
}

.plant-option-buttons {
  list-style-type: none;
}

.plant-option-buttons > li {
  display: inline-block;
}

.plant-details {
  text-align: left;
}

.plant-options {
    margin-left: -40px;
}

.subhead {
  font-family: "Karla";
}

.garden-listing {
      -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px #A2A2A2;
}

.sidebar-nav-footer a {
    font-color: #999
}