<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <!--       This heading will differ based on route add Ruby conditional here  -->   
        <h1>Select Your Plants</h1>
        <hr class="small">
        <div class="row">

<!-- Looping over each plant in the database and outputting the plant card
Each plant card is clickable and will open a modal to register the plant. -->
<% @plant_types.each do | plant | %>
          <a data-toggle="modal" data-target="#signUpModal">
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="<%= plant.image_url %>">
              <i><%= plant.common_name %></i>
            </div>
          </div>
          </a>
<% end %>

        </div>
      </div>
    </div>
  </div>