<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <!--       This heading will differ based on route add Ruby conditional here  -->   
        <h1>Your Indoor Garden</h1>
        <hr class="small">
        <div class="row">
          <% @user_plants.each do | plant | %>          
          <div class="col-md-4">
<!-- add class "leftfloat" to the div directly below for divs to float left after deleting. 
Must also uncomment the ".leftfloat" in application.css
-->
          <div class="plant-card-listing portfolio-item" data-plant-id="<%= plant.id %>">
            <img class="img-portfolio img-responsive" src="<%= plant.plant_type.image_url %>">
            <h2 class="h4"><%= plant.custom_name %></h2>
            <p>Next watering date: <%= plant.next_water_date %></p>
          </div>
        </div>
        <% end %>    
      </div>
    </div>
  </div>
</div>