<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <!--       This heading will differ based on route add Ruby conditional here  -->   
        <h1>My Plants</h1>
        <hr class="small">
        <div class="row">
<!--         each loop goes here -->
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/string-of-pearls.jpg">
              <i>Plant name</i>
            </div>
          </div>
<!-- each loop ends here -->          
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/bonsai.jpeg">
              <div><i>Plant name</i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/asparagus-fern.jpg">
              <div><i>Plant name</i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/dracaena.jpg">
              <div><i>Plant name</i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/string-of-pearls.jpg">
              <div><i>Plant name</i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/bonsai.jpeg">
              <div><i>Plant name</i><span class="glyphicon glyphicon-plus"></span></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/asparagus-fern.jpg">
              <div><i>Plant name</i><span class="glyphicon glyphicon-plus"></span></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/dracaena.jpg">
              <div><i>Plant name</i><span class="glyphicon glyphicon-plus"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>