<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!--
    application.css is where you put your styles
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" href="/stylesheets/stylish-portfolio.css">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Karla' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/application.js"></script>


  <title>Greenhouse</title>
</head>
<body>
  <% if session["user_id"] %>
  <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
    <i class="fa fa-leaf"></i>&nbsp;Manage
  </a>

  <nav id="sidebar-wrapper">

    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <h2 class="sidebar-header">Current plants</h2>
    <ul class="plant-list sidebar-nav">
      <% user_plants.each do | plant | %>
      <li class="plant plant-sidebar-listing" data-plant-id="<%= plant.id %>"><span class="glyphicon glyphicon-leaf"></span>&nbsp;<%= plant.custom_name %>&nbsp;-&nbsp;<%= plant.plant_type.common_name %>
      <small><a class="remove-plant"><span class="glyphicon glyphicon-remove"></span>&nbsp;Remove plant</a></small>
      </li>
      <% end %>
    </ul>
    <ul class="sidebar-nav">
     <li><a href="/all-plants"><i class="fa fa-plus"></i>&nbsp;Add plants</a></li>
     <li><a href="/plants"><i class="fa fa-eye"></i>&nbsp;View garden details</a></li>
    </ul>
    <div class="sidebar-nav-footer"><a href="/sign-out" onclick="$("#menu-close").click();"><span class="fa fa-power-off"></span>&nbsp;Sign Out</a></div>
  </nav>
  <% end %> 
  <%= yield %>
</body>
</html>